body {
    background-image: url('/static/images/car.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Estonia, papyrus, serif;
    color: #3e1d00;
    font-size: 2rem;
    
}
.navbar {
    background-color: #f8f9fa73;
    padding-top: 0rem;
    padding-bottom: 0rem
}
.navbar-nav .nav-item .nav-link,
a, .btn {
    font-size: 1.8rem;
    color: #562800;
    font-weight: bold;
    /* color: #dacf85; */
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-brand {
    color: #3e1d00;
    font-weight: 900;
    font-size: 1.8rem;
    padding-left: 2rem;
}
.navbar-light .navbar-brand {
    font-size: 2.5rem;
}
.container-fluid{
    padding-right: var(--bs-gutter-x,0.1rem);
    padding-left: var(--bs-gutter-x,0.3rem);
}
.opaque {
    background-color: #f8f9fa73;
}
.main-image {
    height: 33rem;
}
button {
    color:#3e1d00;
}
footer p {
    margin-top: 0;
    margin-bottom: 1rem;
    background-color: #708090a6;
}
.navbar-light .navbar-nav .nav-link.active:hover,
.navbar-light .navbar-brand:hover,
.navbar-nav .nav-item .nav-link:hover,
a:hover, .btn:hover{
    color: black;
}

/*Media queries*/
/* Responsive main image*/
@media screen and (max-width: 915px) {
    body {
    background-size: contain;
    }
    .navbar-light .navbar-brand {
        font-size: 2rem;
        padding-left: 1rem;
    }
}